/* General Styles */
@font-face {
    font-family: 'Cairo';
    src: url('../assets/fonts/Cairo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    background-color: #f8f9fa;
    direction: rtl;
    user-select: none;
}

input, textarea {
    user-select: text;
}

.logo-container {
    text-align: center;
    margin-bottom: 0px;
    user-select: none;
    pointer-events: none;
}

.logo {
    max-width: 70px;
    height: auto;
    margin-bottom: 0px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.subtitle {
    margin-top: 0px;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: hidden;
    flex:1;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    font-family: 'Cairo', sans-serif;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.readonly {
    background-color: #e9ecef;
    font-weight: bold;
    cursor: not-allowed;
}

button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.tooltip-text {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 55%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
    word-wrap: break-word;
    white-space: normal;
}

.tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.icon-tooltip {
    position: relative;
    margin-left: 8px;
    cursor: pointer;
}

.icon-tooltip i {
    font-size: 16px;
    color: #333;
}

.icon-tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 25%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    line-height: 1.6;
}

.icon-tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.icon-tooltip:hover .icon-tooltip-text {
    visibility: visible;
    opacity: 1;
}

input[type="radio"] + label {
    font-size: 12px;
    color: #333;
}

/* Two Fields One Line */
.two-fields-one-line {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.two-fields-one-line .field {
    width: 48%;
}

/* Centered Field One Line */
.centered {
    display: flex;
    flex-direction: column;  /* Stack label and input vertically */
    justify-content: right;
    align-items: right;  /* Center both horizontally */
    width: 100%;
}

.centered label {
    text-align: right;
    margin-bottom: 8px;   /* Add space between the label and input */
}

.centered input {
    width: 100%;           /* Adjust width of the input field */
    text-align: center;   /* Keep input text centered */
}

/* The Modal Background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin:10% auto; /* 15% from the top and centered */
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

/* Title Styling */
.modal-header {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

/* Body Styling */
.modal-body {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
    white-space: pre-wrap; /* Preserve newlines */
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 2.5em;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

  #modalText {
    white-space: pre-wrap; /* Preserve line breaks and spaces */
}

#modalTitle {
    font-size: 1.5em; /* Adjust font size */
    font-weight: bold; /* Make it bold */
    margin-bottom: 10px; /* Add spacing below the title */
    text-align: center; /* Center the title */
}
  
  .close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    float: center;
    cursor: pointer;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Buttons Container */
  .buttons-container {
    position: fixed;
    bottom: 20px;
    right: 20px; /* Right for Arabic; left for other languages */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
  }
  
  /* Styling the buttons */
  .tip-button {
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Cairo';
    font-weight: bold;
  }

  .clear-button
  {
    background-color: #e74c3c; /* Green background */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Cairo';
    font-weight: bold;
  }
  .clear-button:hover {
    background-color: #b83527;
  }

  .exit-button
  {
    background-color: #3b3b3b; /* Green background */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Cairo';
    font-weight: bold;
  }
  .exit-button:hover {
    background-color: #303030;
  }

  .button{
    font-family: 'Cairo';
  }
  
  .tip-button:hover, .scroll-button:hover {
    background-color: #45a049;
  }

  .image-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
}

.image-button:hover {
    background-color: #45a049;
}

.button-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

/**/
.grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Ensures items wrap on smaller screens */
}

.calculator-item {
    text-align: center;
    width: 200px;

}
.item-container {
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #f8f9fa;
}

.item-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.clickable-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    user-select: none;
    pointer-events: none;
}

p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.calculator-link {
    text-decoration: none;
    color: inherit; /* Keeps text color consistent */
}
  
/* Styling for scroll buttons */
.scroll-button {
    background-color: #3498db; /* Blue background */
    font-size: 18px; /* Larger font size for the arrows */
    padding: 12px 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Circular buttons */
    margin: 10px 0;
    display: block; /* Initially show the buttons */
  }
  
  /* Hide the buttons when they should be invisible */
  .scroll-button.hidden {
    display: none; /* Hide the button */
  }
  
  .scroll-button:hover {
    background-color: #2980b9;
  }
  
  .footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    font-family: 'Cairo', sans-serif;
}

.footer strong {
    color: #333;
}

.footer:hover {
    color: #000;
}


/* Responsive Design */
@media (max-width: 1024px) {
    .container {
        padding: 15px;
    }

    .two-fields-one-line {
        flex-direction: column;
    }

    .two-fields-one-line .field {
        width: 100%;
    }
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .container {
        margin: 10px;
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    .subtitle {
        font-size: 12px;
    }

    .two-fields-one-line {
        flex-direction: column;
    }

    .two-fields-one-line .field {
        width: 100%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }

    .container {
        margin: 5px;
        padding: 10px;
    }

    input[type="text"] {
        font-size: 12px;
    }

    label {
        font-size: 12px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    .tooltip-text {
        width: 200px;
    }

    .icon-tooltip-text {
        width: 100px;
    }
}
